@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* reset */
body, body * {
    margin: 0;
    position: relative;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Fira Sans Condensed', sans-serif;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.fullscreen-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px;
    padding: 8px;
    border: white solid 2px;
    /* background-color: rgb(144, 101, 184); */
    color: white;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
}



